<footer class="footer">
    <div class="container">
        
        <div class="columns is-multiline">
            <div class="column is-4-desktop"></div>
            <div class="column is-4-desktop is-6-tablet is-12-mobile has-text-centered">
                <div>
                    <a href="https://twitter.com/ikasijolasten" class="social-button is-small"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="column is-4-desktop is-6-tablet is-12-mobile has-text-right">
                Copyright © Ikasi Jolasten 2021
            </div>
        </div>
        
    </div>
</footer>
