---
layout: default
---

<div class="columns is-multiline">

    <div class="column is-2-desktop is-4-mobile is-4-tablet">
        <figure class="image is-square">
            <img src="{{ page.image }}" />
        </figure>
    </div>

    <div class="column is-10-desktop is-12-mobile is-12-tablet">
        <p class="title is-3">{{ page.title }}</p>
        <p class="subtitle is-3">{{ page.subtitle }}</p>
        {% if page.features %}
        <div class="content columns">
            {% for feature in page.features %}
            <div class="column is-3-desktop is-6-mobile is-6-tablet">
                <span class="icon">
                    {% if feature.icon %}
                    <i class="{{ feature.icon }}"></i>
                    {% else %}
                    <i class="fas fa-circle fa-xs"></i>
                    {% endif %}
                </span> 
                <span>{{ feature.label }}</span>
            </div>
            {% endfor %}
            
        </div>
        {% endif %}
        <div class="columns">
            
            {% if page.googleplay %}
            <div class=" column is-2-desktop is-8-mobile is-8-tablet" style="padding:0">
                <a href="{{page.googleplay.url}}"><img class="img-responsive img-centered" style="max-width: 100%" alt="Google Play" src="{{page.googleplay.img}}"></a>
            </div>
            {% endif %}
            
            <div class="column is-5-dektop">
                <p class="title is-3 has-text-right">{{ page.price }}</p>
            </div>
        </div>
        
       
        {% if page.rating %}
            {% include rating.html rating=page.rating %}
        {% endif %}
        
        
    </div>

    <div class="column is-12">
        
        <div class="content">
            
    
            {{ content }}
        </div>
    </div>

    {% if site.data.reviews[page.product_code] %}
    <div class="column is-12">
        <p class="title is-4">Reviews</p>
        {% for review in site.data.reviews[page.product_code] %}
        {% include review.html %}
        {% endfor %}
    </div>
    {% endif %}

</div>

