---
layout: default
---

<div class="columns is-multiline">

    <div class="column is-2-desktop is-4-mobile is-4-tablet">
        <figure class="image is-square">
            <img src="../{{ page.image }}" />
        </figure>
    </div>

    <div class="column is-10-desktop is-12-mobile is-12-tablet">
        <p class="title is-3">{{ page.title }}</p>
        <p class="subtitle is-3">{{ page.subtitle }}</p>
        {% if page.features %}
        <div class="content columns">
            {% for feature in page.features %}
            <div class="column is-3-desktop is-6-mobile is-6-tablet">
                <span class="icon">
                    {% if feature.icon %}
                    <i class="{{ feature.icon }}"></i>
                    {% else %}
                    <i class="fas fa-circle fa-xs"></i>
                    {% endif %}
                </span> 
                <span>{{ feature.label }}</span>
            </div>
            {% endfor %}
            
        </div>
        {% endif %}
        <div class="columns">
            
            {% if page.googleplay %}
            <div class=" column is-2-desktop is-8-mobile is-8-tablet" style="padding:0">
                <a href="{{ page.googleplay.url }}"><img class="img-responsive img-centered" style="max-width: 100%" alt="Google Play" src="{{ page.googleplay.img }}"></a>
            </div>
            {% endif %}
            
            <div class="column is-10-desktop has-text-right">
                <p class="title is-4 has-text-right" style="margin-bottom: 0.15rem">{{ page.price }}</p>
                <div>
                    <span  style="display: inline-block; margin-bottom: 0.15rem">{{ page.buyCoffee }}</span>
                    <style>
                    .bmc-btn svg {
                        height: 32px !important;
                        margin-bottom: 0px !important;
                        box-shadow: none !important;
                        border: none !important;
                        vertical-align: middle !important;
                        transform: scale(0.9);
                    }
                    
                    .bmc-btn {
                        color: #ffffff;
                        background-color: #222 !important;
                        height: 2.5em;
                        border-radius: 12px;
                        font-size: 1em;
                        font-weight: Bold;
                        border: none;
                        padding: 0px 0.5em;
                        line-height: 1em;
                        text-decoration: none !important;
                        display: inline-flex !important;
                        align-items: center;
                        font-family: 'Poppins', sans-serif !important;
                        -webkit-box-sizing: border-box !important;
                        box-sizing: border-box !important;
                    }
                    
                    .bmc-btn:hover, .bmc-btn:active, .bmc-btn:focus {
                        text-decoration: none !important;
                        background-color: blueviolet !important;
                        cursor: pointer;
                        color: #ffffff !important;
                    }
                    
                    .bmc-btn-text {
                        margin-left: 8px;
                        display: inline;
                        line-height: 0;
                    }
                    
                    .logo-outline {
                        fill: #ffffff;
                    }
                    
                    .logo-coffee {
                        fill: #FFDD00;
                    }</style>
                    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
                    <div class="bmc-btn-container">
                        <a class="bmc-btn" target="_blank" href="https://www.paypal.com/pools/c/8xlKDTTCfT">
                            <i class="fas fa-coffee"></i>
                            <span class="bmc-btn-text">{{ page.buyCoffeeBtn }}</span>
                        </a>
                    </div>


                </div>
                
            </div>
        </div>
        
        
       
        {% if page.rating %}
            {% include rating.html rating=page.rating %}
        {% endif %}
        
        
    </div>

    <div class="column is-12">
        
        <div class="content">
            
    
            {{ content }}
        </div>
    </div>

    {% if site.data.reviews[page.product_code] %}
    <div class="column is-12">
        <p class="title is-4">Reviews</p>
        {% for review in site.data.reviews[page.product_code] %}
        {% include review.html %}
        {% endfor %}
    </div>
    {% endif %}

</div>

